= form_for @parise do |f|
  - if @parise.errors.any?
    #error_explanation
      %h2= "#{pluralize(@parise.errors.count, "error")} prohibited this parise from being saved:"
      %ul
        - @parise.errors.full_messages.each do |message|
          %li= message

  .actions
    = f.submit 'Save'
